.product-container {
    margin-top: 2rem;
}

.search-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.search-input {
    padding: 0.5rem;
    margin-right: 1rem;
}


.product-table {
    width: 100%;
    border-collapse: collapse;
   
  

}

.product-table th, .product-table td {
    padding: 15px;
    border: 2px solid #000000;
    text-align: left;
    font-size: 15px;

}

.product-table th {
    background-color: #121026;
    font-size: 15px;
}
